.img-logo {
    width: auto;
    height: 25%;
}

.texto-direita {
    float: right;
}

.texto-grande {
    font-size: 4rem;
    font-weight: bold;
}

.glyph-icon svg {
    width:16px;
    height:16px;
}